.header{
  margin-top: 200px;
}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: rgb(232, 238, 234);

}

.headerTitleSm{
  position: absolute;
  top: 110px;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  color:#333
}

.headerTitleLg{
  position: absolute;
  top: 140px;
  font-size: 120px;
  font-family: 'Metropolis', sans-serif;
  color:black;
}


.backgroundImg{
  object-fit:cover;
  width:100% ;
  height: 20vh;
}