.header{
  margin-top: 60px;
}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  color: rgb(232, 238, 234);

}

.headerTitleSm{
  position: absolute;
  top: 120px;
  font-size: 20px;
  color:#333
}

.headerTitleLg{
  position: absolute;
  top: 170px;
  font-size: 100px;
}


.backgroundImg{
  object-fit:cover;
  width:110% ;
  height: 80vh;
  margin-top: 80px;

}